
.navbar {
    background-color: #A4F6FD;
}


#SeccionImagen{
    padding-left: 100px;
}

#ptFooter{
    background-color: #091e2b;
    color: white;
}

#ptDerechos{
    color: white;
    background-color: #4BADB6; 
    margin-top: 30px;
}

.MenuSec .dropdown{
    padding-right: 40px;
}

.SecBarra{
    background-color: #76E6F0;

}

.MenuSec .btn{
    background-color: #4BADB6;
    border: #4BADB6;
    color: white;
}

.btn-secondary:hover{
    background-color: #4BADB6;
}

/* COMIENZA BITACORA*/
#contenedor-bit{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

#box{
    background: #4BADB6;
    position: relative;
    margin: auto;
}

#buttonIng{
    width: 85px;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
  
#header{
    padding: 10px;
    color: black;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header #buttonIng{
    background-color: white;
    border: #4BADB6;
    color: black;
}

#container{
    width: 700px;
}

#emp-select, #cli-select{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

/* TERMINA BITACORA*/

/* COMIENZA INDEX*/

#Titulo1{
    background-color: #4BADB6;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

a {
    text-decoration: none;
}


#BoxSuperior{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid lightblue 1px;
}

#BoxInferior{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4BADB6;
    color: white;
}

/* TERMINA INDEX*/

/*Gestion de Clientes*/

#MuestraBTN .btn{
    background-color: #4BADB6;
    color: white;
}

#ContainerClientes{
    min-height: 620px;
}