.nav {
    background-color: #f5fafa;
  border: 0.1px solid rgb(185, 215, 216);
  /* IMPORTANTE */
  text-align: center;
}



.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.element {
  @include invisible(visible);
}
.element {
  @include invisible(hidden);
}

.navbar {
    background-color: #f5fafa;
}


.btn{
    background-color: #4BADB6;
    color: white;
}

.botonAnim {
    border-color: #1f6ab1;
    border-radius: 0;
    color: #5285a3;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  }
  .botonAnim:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: rgb(175, 218, 219);
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .botonAnim:hover {
    color: rgb(15, 87, 204);
  }
  .botonAnim:hover:after {
    width: 110%;
  }

  .btnperfill {
    border-color: #08b186;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #4974b9 50%, transparent 50%);
    background-image: linear-gradient(45deg, #465bb6 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .btnperfill:hover {
    background-position: 0;
  }
  
  .btncerrar {
    border-color: #e23030;
    color: #fff;
    box-shadow: 0 0 40px 40px #d86556 inset, 0 0 0 0 #c5c7c9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btncerrar:hover {
    box-shadow: 0 0 10px 0 #db554c inset, 0 0 10px 4px #c93a30;
  }

#SeccionImagen{
    padding-left: 100px;
    text-align: center;
}

#ptFooter{
    background-color: #091e2b;
    color: rgb(83, 146, 219);
}

#ptDerechos{
    background-color: #ecfcfc;
    border: 0.1px solid rgb(185, 215, 216);
    text-align: center;
    margin-top: 30px;
    text-shadow: #091e2b;
}

#BarraNav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

a:hover{
    text-decoration: none;
    color: white;
}

.MenuSec .dropdown{
    padding-right: 40px;
}

.SecBarra{
    background-color: hsl(0, 0%, 100%);

}

.MenuSec .btn{
    background-color: rgb(236, 245, 245);
    border: #4BADB6;
    color: rgb(0, 0, 0);
}

.btn-secondary:hover{
    background-color: #4BADB6;
}

/* COMIENZA BITACORA*/
#contenedor-bit{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    width: 70%;
}

#box{
    background: #4BADB6;
    position: relative;
    margin: auto;
    height: 100%;
}

#titleBt{
    color: white;
}

#buttonIng{
    width: 85px;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
  
#header{
    padding: 10px;
    color: black;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header #buttonIng{
    background-color: #4BADB6;
    border: #4BADB6;
    color: white;
}

#header #buscar{
    background-color: green;
}

#header #buscar:hover{
    background: green;
}
  

#emp-select, #cli-select{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

/* TERMINA BITACORA*/

/* COMIENZA INDEX*/

#Titulo1{
    background-color: #4BADB6;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

a {
    text-decoration: none;
}


#BoxSuperior{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid lightblue 1px;
}

#BoxInferior{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4BADB6;
    color: white;
}

/* TERMINA INDEX*/

/*Gestion de Clientes*/

#MuestraBTN .btn{
    background-color: #4BADB6;
    color: white;
}

#ContainerClientes{
    min-height: 620px;
}

/*Perfil CSS*/

#Perfil{
    min-height: 605px;
}

#searchBarEmp, #buscar{
    width: 50%;
}

